:root {
  /* Sizes */
  --full-width   : 100%;
  --ui-height    : 2.8rem;
  --border-radius: 0.3rem;

  /* Font Family */
  --regular-font-family: 'Montserrat Medium';
  --italic-font-family : 'Montserrat Medium Italics';
  --bold-font-family   : 'Montserrat Bold';

  /* Background color */
  --backgound-color-one    : #FEAC00;
  --backgound-color-two    : #FBD800;
  --ui-background-color-one: #026334;
  --ui-background-color-two: #003a03;
  

  /* Colors */
  --white : #FFFFFF;
  --yellow-one: var(--backgound-color-two);
  --yellow-two: var(--backgound-color-one);
  --green-one: var(--ui-background-color-one);
  --green-two: var(--ui-background-color-two);
  --danger: #dc0933;
  --field-color : rgb(28, 28, 28);
  --border-color : var(--ui-background-color-one);
  --border-color-two : #454545;
  --border-color-light : hsla(151, 96%, 20%, 0.777);
  --placeholder-color: #7b7b7b;

  /* Font sizes */
  --text-small  : 0.7rem;
  --text-normal : 1rem;
  --text-medium : 1.4rem;
  --text-large  : 1.7rem;
  --text-x-large: 2rem;
}

* {
  box-sizing: border-box;
  padding   : 0;
  margin    : 0;
}

html,
body {
  max-width : 100vw;
  overflow-x: hidden;
}

body {
  background : #ffffff;
  color      : black;
  font-family: var(--regular-font-family);
  color      : rgb(var(--foreground-rgb));

  background: linear-gradient(-45deg,
      var(--backgound-color-one) 10%,
      var(--backgound-color-two) 70%,
      var(--backgound-color-one) 100%);
  background-repeat: no-repeat;
  height           : 100vh;
}

a {
  color          : inherit;
  text-decoration: none;
}

.rotate {
  /* background-color: red; */
  padding: 0;

  display        : flex;
  justify-content: center;
  align-items    : center;
  animation      : rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}