/*Mobile First Style*/
.separator {
  width: var(--full-width);
  padding: 1rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator h4 {
  width: var(--full-width);
  height: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
}

.separator hr {
  width: 100%;
  height: 0;
  border: 0.005rem solid var(--border-color-two);
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {

}
