/*Mobile First Style*/
.main {
  width: var(--full-width);
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 2rem;

  row-gap: 1rem;
}

.main .messageBox {
  width: 100%;
  height: auto;

  background-color: var(--white);
  border-radius: 1rem;

  text-align: left;
  font-size: 1.1rem;

  padding: 2rem;
  margin-top: 2rem;
  margin: auto;

  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {

}
